html{
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 62.5%;
}

*,*::after,*::before{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    background-image: linear-gradient(to right, #1b1422 0%, #472961 100%);
    flex-direction: column;
    height: 100vh;
}

a{
    text-decoration: none;
}


p{
    color: #fff;
}


.container{
    max-width: 50rem;
    margin: 5rem auto;
    width: 90%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #35346a96;
    padding: 2rem;
    border-radius: 1rem;
}

.header__texto{
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
}

.form{
    margin-top: 1.5rem;
}

.form__input{
    padding: 2rem;
    background-color: #282644;
    border: none;
    border-radius: 1rem;
    width: 100%;
    color: #fff;
    font-family: 'Red Hat Display', sans-serif;
}
.form__input::placeholder{
    color: #6f6e85;
    font-size: 1.5rem;
    font-family: 'Red Hat Display', sans-serif;
}
.form__input:focus {
    outline: none;
}

.form__submit{
    display: block;
    background-color: #393852;
    margin-top: .5rem;
    padding: 1.5rem 3rem;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    width: 100%;
}
.form__submit:hover{
    background-color: #35346a96;
    transition: .2s ease;
}

@media (min-width: 768px){
    .form__submit{
        width: unset;
    }
}

.resultado{
    margin-top: 3rem;
    /* background-color: #282644; */
}

.alerta{
    text-align: center;
    color: #fff;
    background-color: rgb(189, 52, 52);
    font-weight: 700;
    padding: 1rem;
}

.alerta p{
    margin: 0;
}
@media (min-width: 768px){
    .alerta{
        margin-top: .5rem;
    }
}

.tareas-pendientes{
    background-color: #35346a96;
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 1rem;
}

.resultado{
    padding: 0;
}

.tareas-heading{
    text-align: center;
    color: #fff;
    font-size: 2.3rem;
}
.tareas-heading span{
    display: block;
}

.hidden{
    display: none;
}

.li-tarea{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #282644;
    margin-bottom: .5rem;
    border-radius: .5rem;
}

.borrar-tarea{
    color: red;
    background-color: #fff;
    font-weight: 700;
    padding: 1rem;
    border-radius: 10%;
    font-size: 1.8rem;
    border: none;
    cursor: pointer;
    transition: .2s ease;
}
.borrar-tarea:hover{
    background-color: #6f6e85;
}

.footer{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.footer p{
    text-transform: uppercase;
    font-weight: 700;   
}
.footer p span{
    text-transform: none;
    font-size: 1.3rem;
    font-weight: normal;
}

.icono{
    transition: .2s ease;
}

.icono:hover{
    transform: scale(1.1);
}